@font-face {
  font-family: 'BadScriptRegular';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('BadScriptRegular')
     url('../fonts/BadScriptRegular.woff2') format('woff2'),
     url('../fonts/BadScriptRegular.woff') format('woff')
}
@font-face {
  font-family: 'CleanvertisingLight';
  font-style: normal;
  font-weight: 200;
  font-display: swap;
  src: local('CleanvertisingLight')
     url('../fonts/CleanvertisingLight.woff2') format('woff2'),
     url('../fonts/CleanvertisingLight.woff') format('woff')
}
@font-face {
  font-family: 'RobotoBold';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local('RobotoBold')
     url('../fonts/RobotoBold.woff2') format('woff2'),
     url('../fonts/RobotoBold.woff') format('woff')
}
@font-face {
  font-family: 'RobotoRegular';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('RobotoRegular')
     url('../fonts/RobotoRegular.woff2') format('woff2'),
     url('../fonts/RobotoRegular.woff') format('woff')
}