%badscript-400 {
  font-family: 'BadScriptRegular', sans-serif;
  font-weight: 400;
}
%CleanvertisingLight-700 {
  font-family: 'CleanvertisingLight', sans-serif;
  font-weight: 700;
}
%roboto-700 {
  font-family: 'RobotoBold', sans-serif;
  font-weight: 700;
}
%roboto-400 {
  font-family: 'RobotoRegular', sans-serif;
  font-weight: 400;
}
$text-color: #333;
$red-color: #981818;
$blue-color: #003469;
$dark-color: #000;
$green-color: #67bc5c;
